# This file, .gitignore, marks certain files and folders as excluded from
# version control.
#
# Read more:
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Editors and IDEs.
.idea/*
!.idea/runConfigurations/
.vscode/

# AsciiDoctor in IntelliJ IDEA.
.asciidoctor/
.asciidoctorconfig

# Local configuration.
*.local
*.local.*

# Dependency management (Gradle).
.gradle/
!gradle-wrapper.jar

# Dependency management (Node.js).
.yarn/*
!.yarn/cache/
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
node_modules/

# Build artifacts.
build/
out/
dist/
*.log

# Build artifacts (Node.js).
.eslintcache
*.tsbuildinfo

# Operating system artifacts.
*~
.DS_Store
Thumbs.db
